<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://elasticbeanstalk-us-east-1-594679074789.s3.amazonaws.com/public/style.css">
    <title>Outdraft</title>
</head>
<body>
    <div>
        <a href="/" class="logo" id="home">Outdraft</a>
        <!–– <a href="/newTeam" class="subhead" id="addTeam">––><!––Add Team</a>––>
        <a href="/stats" class="subhead" id="stats">Stats</a>
        <a href="/admin" class="subhead" id="admin">Admin</a> 
    </div>
    <% for(var i = 0; i < leaderboard.length; i++) {%>
        <p id="Name"><%= leaderboard[i].Name %>: <%= leaderboard[i].Score%></p>
        <div class="teamContainer">
                <div class="image">
                    <% if(leaderboard[i].P1.Out == true){%>
                        <img class="photoOut"src="https://elasticbeanstalk-us-east-1-594679074789.s3.amazonaws.com/public/Images/<%= leaderboard[i].P1.Name %>.jpeg">
                        <div class="bottom-right-Out"><%=leaderboard[i].P1.Place%></div>
                    <%}else{%>
                        <img class="photo"src="https://elasticbeanstalk-us-east-1-594679074789.s3.amazonaws.com/public/Images/<%= leaderboard[i].P1.Name %>.jpeg">
                        <div class="bottom-right"><%=leaderboard[i].P1.Place%></div>
                    <%}%>
                </div>
                <div class="image">
                    <% if(leaderboard[i].P2.Out == true){%>
                        <img class="photoOut"src="https://elasticbeanstalk-us-east-1-594679074789.s3.amazonaws.com/public/Images/<%= leaderboard[i].P2.Name %>.jpeg">
                        <div class="bottom-right-Out"><%=leaderboard[i].P2.Place%></div>
                    <%}else{%>
                        <img class="photo"src="https://elasticbeanstalk-us-east-1-594679074789.s3.amazonaws.com/public/Images/<%= leaderboard[i].P2.Name %>.jpeg">
                        <div class="bottom-right"><%=leaderboard[i].P2.Place%></div>
                    <%}%>
                </div>
                <div class="image">
                    <% if(leaderboard[i].P3.Out == true){%>
                        <img class="photoOut"src="https://elasticbeanstalk-us-east-1-594679074789.s3.amazonaws.com/public/Images/<%= leaderboard[i].P3.Name %>.jpeg">
                        <div class="bottom-right-Out"><%=leaderboard[i].P3.Place%></div>
                    <%}else{%>
                        <img class="photo"src="https://elasticbeanstalk-us-east-1-594679074789.s3.amazonaws.com/public/Images/<%= leaderboard[i].P3.Name %>.jpeg">
                        <div class="bottom-right"><%=leaderboard[i].P3.Place%></div>
                    <%}%>
                </div>
                <div class="image">
                    <% if(leaderboard[i].P4.Out == true){%>
                        <img class="photoOut"src="https://elasticbeanstalk-us-east-1-594679074789.s3.amazonaws.com/public/Images/<%= leaderboard[i].P4.Name %>.jpeg">
                        <div class="bottom-right-Out"><%=leaderboard[i].P4.Place%></div>
                    <%}else{%>
                        <img class="photo"src="https://elasticbeanstalk-us-east-1-594679074789.s3.amazonaws.com/public/Images/<%= leaderboard[i].P4.Name %>.jpeg">
                        <div class="bottom-right"><%=leaderboard[i].P4.Place%></div>
                    <%}%>
                </div>
        </div>
      <% } %>
</body>
</html>
